apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  app.conf: |
{{ readFile "manifests/app/configs/app.conf" | indent 4 }}
  settings.yml: |
{{ renderTemplate "manifests/app/configs/settings.yml.tmpl" . | indent 4 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: app
          image: {{ index .Images "app" }}
          ports:
            - containerPort: {{ index .Ports "app" }}
