[Unit]
Description=Picolet GitOps Agent
Documentation=https://github.com/schjan/picolet
After=network-online.target podman.socket
Wants=network-online.target podman.socket

[Container]
Image={{ index .Images "picolet" }}
ContainerName=picolet

Secret=picolet_config,target=/etc/picolet/config.yml
Volume=%h/.config/picolet/secrets:/etc/picolet/secrets:ro
Volume=%h/.local/share/picolet:/var/lib/picolet
Volume=%h/.config/containers/systemd:/etc/containers/systemd
Volume=%h/.config/systemd/user:/etc/systemd/system
Volume=%t/systemd:%t/systemd
Environment=XDG_RUNTIME_DIR=%t
Volume=%t/podman/podman.sock:/run/podman/podman.sock:ro
Network=host
Environment=PICOLET_CONFIG=/etc/picolet/config.yml

StopTimeout=30
HealthCmd=CMD /picolet healthcheck
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=90s
HealthTimeout=5s
HealthOnFailure=restart

[Service]
Restart=always
TimeoutStartSec=90
TimeoutStopSec=40

[Install]
WantedBy=default.target
